    name: Documentation

    on:
      push:
        branches:
          - main # or your default branch
      pull_request:
        branches:
          - main # or your default branch

    jobs:
      build-and-deploy:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version: '3.12' # Specify your desired Python version
          - name: Install dependencies
            run: |
              pip install sphinx sphinx_rtd_theme # Add other dependencies if needed
          - name: Build Sphinx documentation
            run: |
              sphinx-build docs _build
          - name: Deploy to GitHub Pages
            uses: peaceiris/actions-gh-pages@v3
            if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
            with:
              github_token: ${{ secrets.GITHUB_TOKEN }}
              publish_dir: _build/
              publish_branch: gh-pages
              force_orphan: true # Optional: to ensure a clean gh-pages branch
